<div id="scripture-wrapper">
  <div id="scripture">
    <h2>${entry.primaryPassage.language!""}<span class="version">(${entry.primaryPassage.version!""})</span></h2>
    <p class="main-scripture">${entry.primaryPassage.markedText!""}</p>
    
    <h2>${entry.secondaryPassage.language!""}<span class="version">(${entry.secondaryPassage.version!""})</span></h2>
    <p class="secondary-scripture">${entry.secondaryPassage.markedText!""}</p>
  </div>
  <div id="overview">
    <h2>Textual Overview <span class="reference">${entry.passage!""}</span></h2>
    ${entry.overview!""}
  </div>
</div>