<div id="commentary">
  <h2>Textual Commentary <span class="reference">${entry.passage}</span></h2>
  <#if entry.showTable>
  <table summary="Significant textual variants for your selected verse">
    <thead>
      <tr>
        <th colspan="2"><abbr title="Variant">Var.</abbr> Unit</th>
        <th>Reading</th>
        <th>Witness</th>
        <th>Explanation</th>
      </tr>
    </thead>
    
    <!-- TODO WORK IN PROGRESS HERE - HAVE THIS LOOP THROUGH ALL VARIANT UNITS -->
    <#assign firstVU = true>
    <#list entry.variationUnits as vu>
    
    <#if !firstVU>
    <tr class="spacer">
      <td colspan="5"></td>
    </tr>
    </#if>
    <#assign firstVU = false>
    
    <tbody class="${vu.classname}">

      <#assign firstRdg=true>
      <#list vu.variantReadings as rdg>
      <tr>
     
        <#if firstRdg>
          <#assign firstRdg=false>
          <th rowspan="${vu.numberOfReadings}" class="vu">${vu.index}</th>
          <th class="vn">${rdg.index}</th>
          <td class="rdg">
            <span class="${rdg.classname}">${rdg.english!""}</span><br>
            <span lang="el">${rdg.greek!""}</span>
          </td>
          <td class="wit">${rdg.witnesses!""}</td>
          <td rowspan="${vu.numberOfReadings}" class="explanation">${vu.commentary!""}</td>
        <#else>
          <th class="vn">${rdg.index}</th>
          <td class="rdg"><span class="${rdg.classname}">${rdg.english!""}</span><br>
            <span lang="el">${rdg.greek!""}</span></td>
          <td class="wit">${rdg.witnesses!""}</td>
        </#if>
      
      </tr>
      </#list>
    </tbody>
    
    </#list>
  </table>
  <#else>
  <p>None of the textual variants in this entry contribute to significant changes in the 
     meaning of this passage.</p>
  </#if>
</div>  <!-- End Commentary Body -->
