  <div id="footer">
    <p class="copyright">© Copyright 2011 New Testament Textual Studies Foundation. All rights reserved. &nbsp; • &nbsp; 
    In collaboration with <a href="http://digitalchristianheritage.org" title="Preserving Christianity's history and making it accessible to new audiences" target="_blank">IDCH</a> &nbsp; • &nbsp; 
    Designed by <a href="http://www.gurrydesign.com/" title="Hand-crafted web and graphic design from Peter Gurry" target="_blank"><strong>Gurry Design</strong></a></p>
  </div>