# Sample Log4J configuration files. For detailed configuration information, 
# please see the online documentation available at:
#        http://logging.apache.org/log4j/
#
# Within the context of IDCH, this sample file should be used to provide 
# default logfile configurations for different IDCH related modules. 
#
# Proper configuration of the log system requires specific tuning for different 
# machines and deployment contexts. These specific settings should not be 
# stored in the source control. Instead, developers should copy this file 
# to the appropriate location on the classpath and rename it 'log4j.properties'.
# This file should be added to the appropriate hgignore file. 

# Available levels are DEBUG, INFO, WARN, ERROR, FATAL

## LOGGERS

log4j.logger.org.idch=WARN, IDCHAppender, console

## APPENDERS

# IDCHAppender - Main 'catchall' appender for IDCH logging 
log4j.appender.IDCHAppender=org.apache.log4j.RollingFileAppender
log4j.appender.IDCHAppender.File=/path/to/logs/idch.log
log4j.appender.IDCHAppender.MaxFileSize=10MB
log4j.appender.IDCHAppender.MaxBackupIndex=10
log4j.appender.IDCHAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.IDCHAppender.layout.ConversionPattern=%d %-5p [%t] %-20c - %m\r\n

# console
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%-5p [%t] - %m%n