<div id="scripture-wrapper">
  <div id="scripture">
    <h2>${entry.primaryPassage.language!""}<span class="version">(${entry.primaryPassage.version!""})</span></h2>
    <p class="main-scripture">${entry.primaryPassage.markedText!""}</p>
    
    <h2>Greek <span class="version">(SBLGNT)</span></h2>
    <p class="secondary-scripture greek" lang="el">
      ποῖον γὰρ κλέος εἰ ἁμαρτάνοντες καὶ κολαφιζόμενοι ὑπομενεῖτε; ἀλλʼ εἰ 
      ἀγαθοποιοῦντες <span class="var var-01">καὶ πάσχοντες<sup>1</sup></span>
      ὑπομενεῖτε, τοῦτο <span class="var var-02">χάρις παρὰ θεῷ.<sup>2</sup></span>
    </p>
  </div>
  <div id="overview">
    <h2>Textual Overview <span class="reference">${entry.passage!""}</span></h2>
    ${entry.overview!""}
  </div>
</div>