<div id="header-wrapper">
  <div id="header">
    <h1 class="title"><abbr title="H. Milton Haggard Center for New Testament Textual Studies"><a href="http://www.nttext.org/" title="Visit the HCNTTS website" class="hcntts-link">HCNTTS</a></abbr> |  <a href="#" title="Return to the commentary homepage" class="home-link">New Testament Textual Commentary</a></h1>
    <img id="preview_btn" class="button" src="assets/images/icon_preview.png" alt="Preview" style="margin:22px 0 0;cursor:pointer">
    
    <!-- TODO make this a popup. -->
    <div class="blue-notification"><a href="#" title="Close this notification" id="close-bn" class="close button">Close</a>
      <p>
        <strong>During our preview phase</strong>, the Textual Commentary is limited to 
        searches in the book of 1 Peter and Philippians. We are constantly adding more 
        commentary material to our database, so stay tuned. <br>
      
        <a href="#" title="Sign up for email updates">Notify me of updates &#8250;</a>
      </p>
    </div>
    
    <div id="user-account" class="not-signed-in">
      <a href="#" id="user-link" class="button" title="View and change your account settings">Username</a> <span>|</span>
      <a href="#" id="signout" class="button" title="Sign out of your account">Sign out</a>
      <a href="#" id="signin" class="button" title="Sign into your account">Sign in</a>
    </div>
  </div>
</div>