<div id="help-container">
  <div id="help-border">
    <!-- HELP HEADER -->
    <div id="help-header"><a href="#" title="Close this window" class="close">Close</a>
      <h2>How can we help you?</h2>
      <form>
        <input type="text" name="search" value="Enter a question, keyword, or topic" class="instructions">
      </form>
      <a href="#" title="Search" id="help-search-btn">Search Help</a>
    </div>
    
    <!-- HELP CONTENT -->
    <div id="help-content">
    
      <!-- HELP MODULE: FAQ -->
      <div class="help-module help-faq">
        <h3>Frequently Answered Questions (FAQ) 
        <span class="vbar">|</span> 
        <a class="expand-topic" href="#" title="See all in this category">See all »</a></h3>
        <ul>
          <li><a href="#">How do I cite the Textual Commentary?</a></li>
          <li><a href="#">Who is behind this Textual Commentary?</a></li>
          <li><a href="#">I think I found an error. How can I report it?</a></li>
          <li><a href="#">What do the random numbers mean in the texual commentary?</a></li>
        </ul>
      </div>
      
      <!-- HELP MODULE: TOPICS -->
      <div class="help-module help-topics">
        <h3>Popular Help Topics
        <span class="vbar">|</span>
        <a class="expand-topic" href="#" title="See all in this category">See all »</a></h3>
        <ul>
          <li><a href="#">A quick guide to using the Textual Commentary</a></li>
          <li><a href="#">Browser support and system requirements</a></li>
          <li><a href="#">History and background of the Textual Commentary</a></li>
        </ul>
      </div>
      
      <!-- HELP MODULE: GLOSSARY -->
      <div class="help-module help-glossary">
        <h3>From the Glossary
        <span class="vbar">|</span> 
        <a class="expand-topic" href="#" title="See all in this category">See all »</a></h3>
        
        <ul class="four-col">
          <li><a href="#">Attestation</a></li>
          <li><a href="#">Exemplar</a></li>
          <li><a href="#">HCBS</a></li>
          <li><a href="#">SBGNT</a></li>
          <li><a href="#">Omit</a></li>
          <li><a href="#">Uncial</a></li>
          <li><a href="#">Witness</a></li>
          <li><a href="#">Variant</a></li>
        </ul>
      </div>
    </div> <!-- End Help Content -->
  </div>   <!-- End Help Border -->
</div>     <!-- End Help Container -->