<div class="search-wrapper"> 
  <a href="${navigation.prevChapterUrl}" title="${labels.prevChapter}" class="prev-chap-btn">&laquo;</a> 
  <a href="${navigation.prevVerseUrl}" title="${labels.prevVerse}" class="prev-verse-btn" >&#8249;</a>
  <form>
    <input type="text" name="search">
  </form>
  <a href="#" title="${labels.search}" class="search-btn">Search</a>
  <a href="${navigation.nextVerseUrl}" title="${labels.nextVerse}" class="next-verse-btn">&#8250;</a> 
  <a href="${navigation.nextChapterUrl}" title="${labels.nextChapter}" class="next-chap-btn">&raquo;</a>
   
  <div class="search-notice">
    <strong>Not found.</strong> During our preview phase only Philippians and 
    1 Peter are available. More books will be added in the future.
  </div>
</div>