<div class="search-wrapper"> 
  <a href="${navigation.prevChapterUrl}" title="${navigation.prevChapterLabel}" class="prev-chap-btn">&laquo;</a> 
  <a href="${navigation.prevVerseUrl}" title="${navigation.prevVerseLabel}" class="prev-verse-btn" >&#8249;</a>
  <form action="entry" method="GET">
    <input type="text" name="q">
  </form>
  <a href="#" title="Search" class="search-btn">Search</a>
  <a href="${navigation.nextVerseUrl}" title="${navigation.nextVerseLabel}" class="next-verse-btn">&#8250;</a> 
  <a href="${navigation.nextChapterUrl}" title="${navigation.nextChapterLabel}" class="next-chap-btn">&raquo;</a>
   
  <div class="search-notice">
    <strong>Not found.</strong> During our preview phase only the book of Philippians 
    is available. More books will be added in the future.
  </div>
</div> <!-- End Search Wrapper -->
