<tbody class="var-01">
  <tr>
    <th rowspan="3" class="vu">1</th>
    <th class="vn">A</th>
    <td class="rdg"><span class="var-01a">and suffer</span><br>
      <span lang="el">καὶ πάσχοντες</span></td>
    <td class="wit">All Greek witnesses except 8 manuscripts. <a href="#">Show all »</a></td>
    <td rowspan="3" class="explanation">The Greek word for “suffer” was often (primarily?) used to convey “endure,” in the sense of enduring a negative ordeal, and was viewed as synonymous with the next Greek word. Perhaps to avoid the apparent redundancy, some scribes altered the word, replacing it with the previous word for “be beaten,” conveying “But when you do good and are beaten and endure...” Other Scribes omitted it altogether, conveying “But when you do good and endure,” allowing the notion of preserving in doing good without explicit reference to suffering.</td>
  </tr>
  <tr>
    <th class="vn">B</th>
    <td class="rdg"><span class="var-01b">and are beaten</span><br>
      <span lang="el">καὶ κολφιζόμενοι</span></td>
    <td class="wit">61 326 1837</td>
  </tr>
  <tr>
    <th class="vn">C</th>
    <td class="rdg"><span class="var-01c">(omit)</span></td>
    <td class="wit">945 1729 1739 1881 2298</td>
  </tr>
</tbody>