<?xml version="1.0" encoding="UTF-8"?>
<web-app id="CNTTS_Commentary" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>CNTTS Commentary</display-name>

    <!-- Database connection; configured in context.xml -->
    <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/CNTTS_Commentary_DB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
      <servlet-name>CommentaryEntry</servlet-name>
      <servlet-class>org.nttext.commentary.EntryServlet</servlet-class>

      <init-param>
        <param-name>templateDirectory</param-name>
        <param-value>WEB-INF/templates</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>CommentaryEntry</servlet-name>
      <url-pattern>/entry/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
